
  <nav class="navbar">
    <div class="navbar__logo">
      <i class="fa-solid fa-user-secret"></i>
      <a href="{% url "core:home" %}">동백통 주요통계(Dash Board)</a>
    </div>
    <ul class="navbar__menu">
      <li><a href="">Home</a></li>
      <li><a href="">Sales Overviews</a></li>
      <li><a href="">Events&Promotions</a></li>
      <li><a href="">Store Ranking</a></li>
      <li><a href="">Q&A</a></li>

    </ul>
    <ul class="navbar__icons">
      <li><i class="fa-brands fa-google"></i></li>
      <li><i class="fa-brands fa-instagram"></i></li>
      <li><i class="fa-brands fa-github"></i></li>
    </ul>

    <a href="#" class="navbar__toggleBtn">
      <i class="fa-sharp fa-solid fa-bars"></i>
    </a>
  </nav>
  