{% extends "base.html" %}

{% block page_title %}{% endblock page_title %}

{% block content %}

<div class="container text-center">
  <!-- row는 한줄을 의미, 부트스랩은 한줄을 12개로 나눔 -->
  <div class="row p-1 mt-auto">
    <!-- 당일 하이라이트 색깔 표시, 월간/분기별/연간 변환 탭 포함  -->
    <div class="col-8 justify-content-around" style="border-style: solid">
      
      <h4>주간 매출실적
        <small class="text-muted">(2023년 3월 2주차)</small>
      </h4>

      <div class="col-2">
        <select class="form-select" aria-label="Default select example">
          <option selected>기간선택</option>
          <option value="1">주간(Per Week)</option>
          <option value="2">월간(Per Month)</option>
          <option value="3">연간(Per Year)</option>
        </select>
      </div>

      
      <!-- 매출차트 생성(chart.js)  -->
      <div>
        <canvas id="myChart"></canvas>
      </div>
      
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      
      <script>
        const ctx = document.getElementById('myChart');
      
        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: ['월요일(날짜)', '화요일', '수요일', '목요일', '금요일', '토요일', '일요일'],
            datasets: [{
              label: '일일매출액',
              data: [5000000, 4000000, 3000000, 8000000, 2000000, 3000000, 15700000],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      </script>


    </div>

    <div class="col-4" style="border-style: solid">
      <div class="col-12 my-2">
        <h4 class="mb-3">주요 운영통계
          <small class="text-muted">(2023년 3월 31일 기준)</small>
        </h4>
        <dl class="row">
          <dt class="col-sm-4">당일매출</dt>
          <dd class="col-sm-8">
            <h2 class="text-primary">10,000,000원</h2>
            <p>전일대비 0000 (삼각형 +-기호산입)</p>
          </dd>
          <dt class="col-sm-4">당일주문</dt>
          <dd class="col-sm-8">
            <h2 class="text-secondary">000건</h2>
            <p>전일대비 0000 (삼각형 +-기호산입)</p>
          </dd>
        </dl>
        
      </div>
      <div class="col-12 my-2" style="border-style: solid">
  
        <table class="table table-striped table-hover table-bordered caption-top table-responsive">
          <!-- <caption>List of users(caption)</caption> -->
          <thead>
            <tr>
              <th scope="col">통계구분</th>
              <th scope="col">당일통계</th>
              <th scope="col">누계통계</th>
              <th scope="col">Remark</th>
              
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr>
              <th scope="row">매출액</th>
              <td>Mark</td>
              <td>{{revenues.total_amount.sum}}</td>
              <td>+자세히보기</td>
              
            </tr>
            <tr>
              <th scope="row">주문건수</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>+자세히보기</td>
              
            </tr>
            <tr>
              <th scope="row">회원가입자</th>
              <td colspan="2">Larry the Bird</td>
              <td>+자세히보기</td>
              
            </tr>
            <tr>
              <th scope="row">앱 다운로드</th>
              <td colspan="2">Larry the Bird</td>
              <td>+자세히보기</td>
      
            </tr>
          </tbody>
        </table>
  

      </div>
      

      
    </div>
  </div>

  <div class="row p-1">
    <!-- 화면 사이즈별로 원하는 크기의 컬럼을 줄수 있음 <div class="col-lg-3 col-md-6">col</div> -->
    <!-- 반응형 웹사이트 만들때 부트스트랩 그리드로 만들면 편함 -->
    <div class="col-3 mr-3" style="border-style: solid">
      <h4>월별 매출추이</h4>
        
       <!-- 월별 매출추이 차트 -->
       <div>
        <canvas id="monthlyChart"></canvas>
      </div>
      
      <script>
        const ctx2 = document.getElementById('monthlyChart');
        // const labels = Utils.months({count: 7});

        // django views.py에서 넘어온 데이터를 변수로 지정하기 위해 script태그 안에 템플릿 태그로 변수를 선언
        var monthly_sales_month = {{monthly_sales_month|safe}};
        var monthly_sales_amount = {{monthly_sales_amount|safe}};

        // labels와 data를 하드코딩말고, 장고context를 이용해서 렌더링하는 것 보완필요
        new Chart(ctx2, {
          type: 'line',
          data: {
            labels: monthly_sales_month,
            // labels: ['2022-01', '2022-02', '2022-03', '2022-04', '2022-05', '2022-06', '2022-07', '2022-08', '2022-09', '2022-10', '2022-11', '2022-12'],
            datasets: [{
              label: 'Monthly sales',
              data: monthly_sales_amount,
              // data: [52612360, 170428751, 301128261, 300077530, 317521705, 331883550, 367400955, 395864595, 439225520, 402451077, 465075204, 322172950],
              fill: false,
              borderColor: 'rgb(75, 192, 192)',            
              tension: 0.1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
        
        
      </script>

    </div>
    <div class="col-3 mx-auto" style="border-style: solid">
      <h4>카테고리별 매출비중</h4>

      <!-- 서비스별 매출구성 차트 -->
      <div>
        <canvas id="categoryChart"></canvas>
      </div>
      
      <script>
        const ctx3 = document.getElementById('categoryChart');
      
        new Chart(ctx3, {
          type: 'doughnut',
          data: {
            labels: ['배달', '픽업', '배송' ],
            datasets: [{
            label: '카테고리별 매출구성',
            data: [300, 50, 100],
            backgroundColor: [
              'rgb(255, 99, 132)',
              'rgb(54, 162, 235)',
              'rgb(255, 205, 86)'
            ],
            hoverOffset: 4
          }]
          }          
        });
      </script>



    </div>

    <div class="col-3 mx-auto" style="border-style: solid">
      <h4>Upcoming Events</h4>
      
      
    </div>
    
    
    <div class="col-3 ml-3" style="border-style: solid">
  
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Magic Functional Box (멀티기능)
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">운영통계 다운로드</li>
          <li class="list-group-item">가맹점 정보검색</li>
          <li class="list-group-item">주문정보 검색(검색박스)</li>
          <li class="list-group-item">부산구군별 매출분포</li>
          <li class="list-group-item">언론기사 다운로드(검색박스)</li>
          <li class="list-group-item">
            질문하기
            <a href="{% url 'key_statistics:dashboard' %}" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">Link</a>
          </li>
        </ul>
      </div>
    
    </table>
    </div>
  </div>


  <!-- 본문 3번째 row -->
  <div class="row">
    <div class="col-4">
      Column1
      {{revenues.count}}
      test
      {{revenues.total_amount}}
    </div>
    <div class="col-4">
      Column2
      <p>{{months}}</p>
      <p>{{monthly_sales.keys}}</p>
      <p>{{monthly_sales_values}}</p>
    </div>
    <div class="col-4">
      Column3
      <p>{{monthly_sales}}</p>

      <p>{{monthly_sales_month}}</p>
      <p>{{monthly_sales_amount}}</p>
    </div>
  </div>

</div>
  
  

{% endblock content %}